@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');


:root {
    --primary-clr: #44c3fa;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    background-image: url('https://i.ibb.co/QJWqWzP/clouds.webp');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-out;
}

/* img {
    width: 150px;
    height: 150px;
} */





/* Sidebar */
.sidebar {
    display: inline-block;
    padding: 15px;
    text-align: center;
    justify-content: space-between;
    background-color: #44c3fa;
    text-shadow: 1px 5px 7px black;

}

.sidebar-info {
    display: inline-block;

}


.search {
    display: block;
    color: grey;
}

.search input {
    display: inline-block;
    border: 1px solid #44c3fa;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 20px;
    color: rgb(160, 159, 159);
    margin: 10px;
}

/* Search */

.search button {
    display: inline-block;
    padding: 13px 20px;
    border: 1px solid #44c3fa;
    color: grey;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}


.search button:hover {
    box-shadow: inset 1px 1px 8px #44c3fa;
}

.search input:focus {
    outline: none;
    border: 1px solid var(--primary-clr)
}



/* Weather */

.weather-icon {
    text-align: center;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #44c3fa;
    border-radius: 20px;
    box-shadow: inset 1px 1px 8px #44c3fa;
    width: 60%;
    height: 150px;
}

.weather-icon #icon {
    margin: 0px auto;
    width: 50%;
}

.temp {
    display: inline-flex;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 700;
}

.temp #temp {
    /* width: 30%; */
    font-size: 60px;

}

.date-time {
    color: whitesmoke;
    text-shadow: 1px 5px 7px black;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
}

/* conditions and precip */
.condition-rain {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
}
.condition{
    padding:20px;
}


.rain {
    align-items: center;   
}

.location {
    padding-top: 74%;
    color: whitesmoke;
    font-size: larger;
    font-weight: 800;
}

.fas {
    width: 10%;
    font-size: 30px;
}



/* main content */
.wrapper {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.main {

    padding: 30px;
    background-color: white;
    display: inline-block;
}

.main nav {
    padding: 30px 50px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options #hourly,
.options #weekly,
.options.units #celcius,
.options.units #fahrenheit {
    font-size: larger;

}

.options button {
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: grey;
    cursor: pointer;
}

button:active {
    color: var(--primary-clr)
}

.main .cards {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: space-around;
}



.cards .card {
    border: 2px transparent;
    border-radius: 20px;
    color: black;
    background-color: #fff;
    text-align: center;
    box-shadow: inset 1px 1px 8px #44c3fa;
}

.card .day-temp {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .card h2 {
    font-size: 17px;
}

.card .content p {
    font-size: 17px;
}

.card .content p:first-child {
    font-size: 30px;
    font-weight: bolder;
}

.card .content p:last-child {
    font-weight: 800;
}

.main .highlights .cards {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.highlights .heading {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    text-shadow: 1px 5px 7px black;
    color: white;
    box-shadow: 1px 1px 8px #44c3fa;
    border-radius: 20px;
    padding: 20px;
    background-color: #44c3fa;
    ;
}

.foot {
    padding-top: 50px;
    color: rgba(128, 128, 128, 0.603);
    display: inline-block;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width:800px) and (min-width:350px) {
    .sidebar {
        display: block;
        align-self: center;
        border-radius: 20px;
        height: auto;
        /* margin-left: 100px; */
        margin-top: 20px;
    }

    .wrapper {
        display: block;
    }

    .main {
        /* margin-left: 100px; */
        border-radius: 20px;
        margin-top: 50px;
    }

    .main nav {
        width: 100%;
        display: flex;
    }

    .main nav ul {
        padding-left: 15%;
        display: inline-block;
        width: 100%;
    }



    .highlights {
        display: block;
        width: 70%;
    }

    .card {
        padding: 0;
    }
}

@media screen and (max-width:350px) {
    * {
        display: none;
    }
}